{{ define "main" }}
{{ partial "back_link.html" .}}

<article>
    <p class="post-meta">
        {{ if .Params.original_publish_date }}
        <time datetime="{{ .Params.original_publish_date }}">
            原著发布时间：{{ .Params.original_publish_date | time.Format site.Params.theme_config.date_format }}
        </time>
        <br/>
        {{ end }}
        <time datetime="{{ .Date }}">
            译作时间：{{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>

    <h1>{{ .Title }}</h1>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    {{ .Content }}
</article>
{{ end }}
