{{- $posts := "" -}}

{{- if .section -}}
    {{- $posts = (where site.RegularPages "Section" .section) -}}
{{- else -}}
    {{- if (eq .context.Kind "taxonomy") -}}
        {{- $posts = .context.Pages -}}
    {{- else -}}
        {{- if (eq .context.Kind "term") -}}
            {{- $posts = .context.Data.Pages -}}
    {{- else -}}
            {{- $posts = site.RegularPages -}}
    {{- end -}}
    {{- end -}}
{{- end -}}

{{- $sortedPosts := slice -}}
{{- range $post := $posts -}}
    {{- $sortDate := $post.Date -}}
    {{- if $post.Params.original_publish_date -}}
        {{- $sortDate = $post.Params.original_publish_date -}}
    {{- end -}}
    {{- $sortedPosts = $sortedPosts | append (dict "page" $post "sortDate" $sortDate) -}}
{{- end -}}
{{- $sortedPosts = (sort $sortedPosts "sortDate" "asc") -}}
{{- $posts = slice -}}
{{- range $sortedPosts -}}
    {{- $posts = $posts | append .page -}}
{{- end -}}

{{- $limit_exceeded:= "" -}}
{{- if (and .limit (gt (len $posts) .limit)) -}}
    {{- $limit_exceeded = true -}}
{{- else -}}
    {{- $limit_exceeded = false -}}
{{ end }}

{{- if (gt (len $posts) 0) }}
    {{- if .limit }}
        {{ $posts = (first .limit $posts ) }}
    {{ end }}
    <ul>
        {{- range $post := $posts -}}
        <li>
            {{- $displayDate := or $post.Params.original_publish_date $post.Date -}}
            <span>{{- ($displayDate | time.Format site.Params.theme_config.date_format) }}</span>
            <a href="{{ $post.Permalink | relURL }}">{{ $post.Title }}</a>
        </li>
        {{ end }}
        {{- if and .show_more $limit_exceeded }}
            <li><a href="{{ .show_more_url | relURL }}">{{ .show_more_text | default "Show more..." }}</a></li>
        {{ end }}
    </ul>
{{ end }}
